/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --cor-primaria: #4f46e5;  
  --cor-destaque: #ef4444; 
  --cor-borda: #78C841 ;  
  --cor-fundo: #f9fafb;      
  --cor-texto: #1f2937;      
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}


.conteiner {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.conteiner h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--cor-primaria);
  margin-bottom: 20px;
}


.input-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 2px solid var(--cor-primaria);
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

.input-box input:focus {
  border-color: var(--cor-borda);
}

.input-box button {
  background: var(--cor-primaria);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.input-box button:hover {
  background: var(--cor-primaria);
  transform: translateY(-4px);
}


li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--cor-fundo);
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.btn-delete {
  display: flex;
  align-items: center;
  gap: 5px;
  background: var(--cor-destaque);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
}

.btn-delete:hover {
  background: #dc2626; 
}

.icon-deleete {
  font-size: 1.2rem;
}
